<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>响应式设计(栅格化)布局</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/grid.css">
</head>
<body>
	<div class="wrap">
		<div class="box col-md-4 col-sm-6"><div class="items"></div></div>
		<div class="box col-md-4 col-sm-6"><div class="items"></div></div>
		<div class="box col-md-4 col-sm-12"><div class="items"></div></div>
		<div class="box col-md-3 col-sm-3"><div class="items"></div></div>
		<div class="box col-md-6 col-sm-6"><div class="items"></div></div>
		<div class="box col-md-3 col-sm-3"><div class="items"></div></div>
		<div class="box col-md-1 col-sm-2"><div class="items"></div></div>
		<div class="box col-md-1 col-sm-2"><div class="items"></div></div>
		<div class="box col-md-2 col-sm-8"><div class="items"></div></div>
		<div class="box col-md-2 col-sm-3"><div class="items"></div></div>
		<div class="box col-md-6 col-sm-3"><div class="items"></div></div>
	</div>
</body>
</html>